doctype html

html
    head
        link(rel="shortcut icon", href="favicon.png", type="image/png")
        link(rel="stylesheet", href="styles/estilos.css")
        title Auth TSI
    body
        #banner
            img(src="img/logo.png", alt="Segurança")
            h1 Auth TSI
            #menu
             a
                img(src="img/menu.png", alt="Menu")
            #logout
                a(href="/")
                    img(src="img/logout.png", alt="Logout")
                

        #conteudo
            block conteudo